<header>
    <nav>
        <ul>
            <li>
                <a href="./pages/index"> Index</a>
            </li>
            <li>
                <a href="/views/pages/users.ejs">Users</a>
            </li>
            <li><a href="/views/pages/users.ejs">Schedules</a></li>
        </ul>
    </nav>
</header>