<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>Create your Schedules , Choose time</h1>
    <form action="/schedules" method="POST">
        <label for="start-time">Start At:</label>
        <input type="time" id="start-time" name="start_at" min="9:00" max="18:00">

        <label for="end-time">End At:</label>
        <input type="time" id="end-time" name="end_at" min="9:00" max="18:00">
        <input type="submit" value="Submit">
    </form>
</body>

</html>