<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>Fill this Form</h1>
    <form action="/users" method="POST">
        <label for="firstname">Firstname</label>
        <input type="text" placeholder="First name" id="firstname" name="firstname">
        <label for="lastname">Lastname</label>
        <input type="text" placeholder="Last name" id="lastname" name="lastname">
        <label for="email">Email</label>
        <input type="email" placeholder="Email address" id="email" name="email">
        <label for="password">Password</label>
        <input type="text" placeholder="Create Password" id="password" name="password">
        <input type="submit" value="Submit">
    </form>


</body>

</html>